{% extends 'temp/student_page.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>

</head>

<body>
<h2 class="text-center">Companies</h2>
    <table border="1"  class="table table-borderless table-striped table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>About</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for i in a %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.about }}</td>
                <td>{{ i.mail }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.status }}</td>
{#                    <td><a href="/company/accept/{{ i.company_id }}">Accept</a> </td>#}
{#                    <td><a href="/company/reject/{{ i.company_id }}">Reject</a> </td>#}
            </tr>
             {% endfor %}
        </tbody>
    </table>
</body>

</html>
{% endblock %}