{% extends 'temp/student_page.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Application Status</title>

</head>
<body>

{#<div class="container">#}
    <h1>Application Status</h1>
    <table   class="table table-striped table-dark">
        <tr>
            <th>Job Title</th>
            <th>Status</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for i in b %}
        <tr>
            <td>{{ i.job.name }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.time }}</td>
        </tr>
        {% endfor %}

        <!-- Add more rows as needed -->
    </table>
{#</div>#}

</body>
</html>
{% endblock %}