{% extends 'temp/page.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
<center>
{#    <div align="center">#}
        <div>
            <h2>Login</h2>
            <form method="post" class="m-4">
                {% csrf_token %}
                <label for="username"></label><br><br>
                <input type="text" id="username" name="un" placeholder="Enter your username"  class="form-control" required><br>

                <label for="password"></label><br><br>
                <input type="password" id="password" name="ps" placeholder="Enter your password" required="" class="form-control"><br><br>

                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
{#        {% if msg %}#}
{#            <script>#}
{#            alert('Incorrect Username or Password')#}
{#            </script>#}
{#        {% endif %}#}
{#    </div>#}
</body>

</html>
{% endblock %}